html {
    display             : flex;
    width               : 100%;
    min-height          : 100vh;
    font                : 16px/1.55 $font_sans;
    text-align          : left;
    color               : $color_text;
    background-color    : $color_white;
    @media ($query_mobile_width_1) {
        font-size   : 15px;
    }
}

body {
    display     : flex;
    flex-flow   : column nowrap;
    width       : 100%;
    min-height  : 100vh;
    margin      : 0;
    padding     : 0;
}


header {
    display             : flex;
    flex-flow           : row nowrap;
    justify-content     : space-between;
    align-items         : center;
    background-color    : $color_blue;
    padding             : 0.5rem 1rem 0rem 0.5rem;
}
    #header_logo {
        flex            : 0 1 auto;
        width           : 33%;
        max-width       : 30rem;
        @media ($query_mobile_width_2) {
            width       : 60%;
        }
        a {
            width       : 100%;
            border      : none;
            transition  : none;
        }
        img {
            width   : 100%;
        }
    }
    #header_menu {
        flex        : 1 0 auto;
        padding-top : 1rem;
        a {
            color   : $color_white;
        }
    }
    #header_menu_toggler {
        flex        : 0 0 auto;
        display     : none;
        width       : 13%;
        padding     : 0.5rem;
        fill        : $color_white;
        &:hover {
            fill    : $color_gold;
        }
        &:active {
            fill    : $color_white;
        }
        @media ($query_mobile_width_2) {
            display     : flex;
            align-items : center;
        }
        svg {            
            width       : 100%;
            font-size   : 100%;
        }
    }
        
        
        
        

main {
    flex            : 1 0 auto;
    width           : 100%;
    font-size       : 1rem;
    padding-top     : 3rem;
    padding-bottom  : 3rem;
    @media ($query_mobile_width_1) {
        padding-top : 2rem;
    }
}

    #backtotop {
        position        : fixed;
        visibility      : hidden;
        overflow        : hidden;
        width           : 2.5rem;
        height          : 2.5rem;
        bottom          : 1rem;
        right           : 1rem;
        padding         : 0.2rem;
        z-index         : 9999;
        fill            : $color_white;
        opacity         : 0;
        cursor          : pointer;
        transition      : all $transition_time;
        &.visible {
            visibility  : visible;
            opacity     : 0.7;
        }
        &:hover {
            opacity     : 1;
            fill        : $color_gold;
        }
        span {
            display     : block;
            width       : 100%;
            height      : auto;
        }
    }


footer {
    flex                : 1 0 auto;
    display             : flex;
    flex-flow           : column nowrap;
    background-color    : $color_blue;
    font-size           : 0.9rem;
    color               : $color_white;
    padding             : 2rem;
    /*@media ($query_mobile_width_2) {
        flex-direction  : column;
        align-items     : center;
        padding-left    : 2rem;
        padding-right   : 2rem;
    }*/
}
    #footer_up {
        flex                : 1 0 auto;
        display             : flex;
        flex-flow           : row nowrap;
        justify-content     : space-between;
        
        #footer_up_logo {
            flex        : 1 0 auto;
            width       : 10rem;
            max-width   : 10rem;
            img {
                width   : 100%;
            }
        }
        
        #footer_up_address {
            ul {
                padding-left    : 0;
                margin-left     : 2.15em;
                list-style-type : none;
                li {
                    display             : flex;
                    flex-flow           : row nowrap;
                    /*margin-left: -2.15em;*/
                    /*width: 2.15em;*/
                    text-align: center;
                    border:1px solid red;
                    i {
                        flex        : 1 0 auto;
                        align-items : center;
                    }
                }
            }
        }

        #footer_up_social {
            flex                : 1 1 auto;
            display             : flex;
            flex-flow           : row nowrap;
            justify-content     : space-between;
            max-width           : 10rem;
        }
        
        #footer_up_social a {
            width           : 2rem;
            color           : $color_white;
            font-size       : 1.6rem;
            text-align      : center;
        }   
    }
    
    #footer_down {
        flex    : 1 0 auto;
        
        #footer_down_credits {
            flex        : 3 0 auto;
            display     : flex;
            flex-flow   : row nowrap;
        }
        #footer_down_author {
            flex        : 1 1 auto;
        }
    }




    /*#footer_menu {
        flex    : 3 1 auto;
        @include footer_items_mobile_size_2();
        @media ($query_mobile_width_2) {
            margin-bottom   : 2rem;
        }
        ul {
            margin  : 0;
            padding : 0;
        }
        li {
            width           : 100%;
            font            : 1.7rem/0.8 $font_menu;
            text-align      : left;
            padding-left    : 3rem;
            margin          : 0.9rem 0;
            &:before {
                content : none;
            }
            @media ($query_mobile_width_2) {
                padding-left    : 0;
            }
        }
        a {
            color   : $color_footer_text;
            &:hover {
                color   : $color_main;
            }
        }
    }
    #footer_contacts {
        flex    : 2 1 auto;
        padding : 0rem 5rem;
        @media ($query_mobile_width_2) {
            margin-bottom   : 2rem;
            padding         : 0;
        }
        h4 {
            color           : $color_main;
            font-size       : 1.5rem;
            font-weight     : normal;
            letter-spacing  : 0rem;
            text-align      : left;
            margin          : 0;
            padding         : 0;
            padding-bottom  : 0.4rem;
            border          : none;
        }
        section {
            font-size       : 0.9rem;
            padding-bottom  : 0.4rem;
            span {
                display : inline-block;
                width   : 3.5rem;
            }
        }
    }
    #footer_final {
        flex        : 1 1 auto;
        text-align  : right;
        white-space : nowrap;
        @media ($query_mobile_width_2) {
            white-space : normal;
        }
        section {
            font-size    : 0.9rem;
            font-style    : italic;
        }
    }*/
