html {
    display             : flex;
    width               : 100%;
    min-height          : 100vh;
    font                : 16px/1.55 $font_stack;
    text-align          : center;
    color               : $color_text;
    background-color    : $color_white;
    @media ($query_mobile_width_1) {
        font-size       : 15px;
    }
}

body {
    display     : flex;
    flex-flow   : column nowrap;
    width       : 100%;
    min-height  : 100vh;
    margin      : 0;
    padding     : 0;
}


header {
    position:relative;
    flex                : 0 1 auto;
    background-color    : $color_blue;
    padding-top         : 0.5rem;
    padding-bottom      : 1rem;
    padding-left        : 3rem;
    padding-right       : 3rem;
    @media ($query_mobile_width_1) {
        padding-bottom  : 0.2rem;
        padding-left    : 1.5rem;
        padding-right   : 1.5rem;
    }
    a {
        border      : none;
        transition  : none;
        &:hover, &:active {
            border  : none;
        }
    }
    
    #header_top {
        display         : flex;
        flex-flow       : row nowrap;
        justify-content : space-between;
        align-items     : center;
        
        #header_logo {
            flex            : 0 0 auto;
            width           : 33%;
            max-width       : 28rem;
            @media ($query_mobile_width_1) {
                width       : 70%;
                max-width   : 20rem;
            }
            img {
                width   : 100%;
            }
        }
        
        #header_motto {
            flex        : 0 1 auto;
            color       : $color_lightgrey;
            font-size   : 1rem;
            font-style  : italic;
            @media ($query_mobile_width_1) {
                display : none;
            }
        }
        
        #header_menu_toggler {
            flex        : 0 0 auto;
            display     : none;
            width       : 13%;
            max-width   : 4rem;
            min-width   : 2.5rem;
            padding     : 0.5rem;
            margin-top  : 0.3rem;
            cursor      : pointer;
            fill        : $color_gold;
            &:hover {
                fill    : $color_darkgold;
            }
            &:active {
                fill    : $color_gold;
            }
            @media ($query_mobile_width_1) {
                display     : flex;
                align-items : center;
            }
            svg {            
                width       : 100%;
                font-size   : 100%;
            }
        }
    }
    
    #header_menu_wrapper {
        position    : absolute;
        bottom      : -1.2rem;
        left        : 5rem;
        right       : 5rem;
        z-index     : 9999;
        @media ($query_mobile_width_1) {
            top     : 100%;
            left    : 0;
            right   : 0;
        }
        
        #header_menu {
            display             : flex;
            flex-flow           : row nowrap;
            justify-content     : center;
            background-color    : $color_gold ;
            @media ($query_mobile_width_1) {
                flex-flow       : column nowrap;
                border-top      : 1px solid $color_white;
            }
            a {
                flex                    : 1 0 auto;
                color                   : $color_white;
                border                  : none;
                font-size               : 1.1rem;
                letter-spacing          : 0.08rem;
                text-align              : center;
                padding                 : 0.25rem 0;
                &:hover {
                    background-color    : $color_darkgold;
                    color               : $color_white;
                    border              : none;
                }
                &:active {
                    background-color    : $color_gold;
                    color               : $color_white;
                    border              : none;
                }
                @media ($query_mobile_width_1) {
                    margin              : 0;
                    padding             : 0.5rem 0;
                }
            }
            hr {
                flex                : 0 1 auto;
                width               : 1px;
                border              : none;
                margin              : 0.5rem 0;
                background-color    : $color_white;
                @media ($query_mobile_width_1) {
                    width           : auto;
                    height          : 1px;
                    margin          : 0;
                }
            }
        }
    }
}



main {
    flex            : 1 0 auto;
    width           : 100%;
    font-size       : 1rem;
    
    #backtotop {
        position        : fixed;
        visibility      : hidden;
        bottom          : 1rem;
        right           : 1rem;
        font-size       : 1.5rem;
        padding         : 0.2rem;
        z-index         : 9999;
        color           : $color_gold;
        opacity         : 0;
        cursor          : pointer;
        transition      : all 0.4s;
        &.visible {
            visibility  : visible;
            opacity     : 0.75;
        }
        &:hover {
            opacity     : 1;
        }
        i {
            display     : block;
        }
    }
    
    
    .swiper-container {
        width   : 100%;
        height  : 100%;
        margin  : auto;
        .swiper-slide {
            display         : flex;
            flex-flow       : column nowrap;
            justify-content : center;
            align-items     : center;
            max-height      : 100%;
        }
        .swiper-slide-active {
            img {
                z-index : 99;
            }
        }
        .swiper-button-prev {
            background-image    : url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23#{$color_gold}'%2F%3E%3C%2Fsvg%3E");
            //background-image    : url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23cbbd5c'%2F%3E%3C%2Fsvg%3E");
            @media ($query_mobile_width_1) {
                display         : none;
            }
        }
        .swiper-button-next  {
            background-image    : url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23#{$color_gold}'%2F%3E%3C%2Fsvg%3E");
            //background-image    : url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23cbbd5c'%2F%3E%3C%2Fsvg%3E");
            @media ($query_mobile_width_1) {
                display         : none;
            }
        }
        .swiper-pagination-bullet-active {
            background  : $color_gold;
        }
        
        .swiper_custom_title {
            width           : 100%;
            text-align      : center;
            margin-top      : 1rem;
            padding-bottom  : 0.5rem;
            font-weight     : 600;
            font-size       : 1rem;
            border-bottom   : 2px solid $color_gold;
        }
        .swiper_custom_description {
            width       : 100%;
            text-align  : left;
            margin-top  : 0.5rem;
            font-size   : 0.9rem;
        }
    }
    
}



footer {
    flex                : 0 1 auto;
    display             : flex;
    flex-flow           : column nowrap;
    align-items         : center;
    background-color    : $color_blue;
    font-size           : 0.9rem;
    color               : $color_white;
    margin-top          : 1rem;
    padding             : 1rem 3rem;
    @media ($query_mobile_width_1) {
        padding         : 1rem 1.2rem;
        margin-top      : 0.5rem;
    }
    a {
        color       : $color_white;
        border      : none;
        transition  : none;
        &:hover {
            color   : $color_gold;
            border  : none;
        }
    }
  
    #footer_top {
        flex                : 1 0 auto;
        width               : 100%;
        display             : flex;
        flex-flow           : row nowrap;
        justify-content     : space-between;
        align-items         : center;
        @media ($query_mobile_width_2) {
            flex-flow       : column nowrap;
        }
        
        & > div {
            @media ($query_mobile_width_2) {
                margin-bottom : 1rem;
            }
        }
        
        #footer_top_logo {
            flex        : 0 0 auto;
            width       : 10rem;
            @media ($query_mobile_width_1) {
                width   : 8rem;
            }
            img {
                width   : 100%;
            }
        }
        
        #footer_top_address {
            flex            : 0 0 auto;
            letter-spacing  : -0.04rem;
            div {
                display             : flex;
                flex-flow           : row nowrap;
                justify-content     : flex-start; 
                align-items         : center;
                margin-bottom       : 0.5rem;
                &:last-child {
                    margin-bottom   : 0;
                }
            }
            i {
                font-size   : 1.1rem;
                width       : 2.5rem;
                text-align  : center;
            }
        }
        
        #footer_top_social {
            flex            : 1 0 auto;
            max-width       : 10rem;
            display         : flex;
            flex-flow       : row nowrap;
            justify-content : space-between;
            align-items     : center;
            @media ($query_mobile_width_1) {
                max-width   : 8rem;
            }
            @media ($query_mobile_width_2) {
                width       : 100%;
                max-width   : 10rem;
            }
            
            a {
                width           : 2rem;
                font-size       : 1.6rem;
                text-align      : center;
            }
        }            
    }
    
    #footer_bottom {
        flex            : 0 1 auto;
        display         : flex;
        flex-flow       : row nowrap;
        justify-content : center;
        align-items     : center;
        width           : 90%;
        border-top      : 1px solid $color_grey;
        margin-top      : 1.5rem;
        padding-top     : 1rem;
        text-align      : center;
        font-size       : 0.8rem;
        font-style      : italic;
        @media ($query_mobile_width_2) {
            flex-flow   : column nowrap;
            margin-top  : 0;
        }
        .footer_bottom_spacer {
            width       : 1.5rem;
            @media ($query_mobile_width_2) {
                display : none;
            }
        }
    }
}
