.gallery {
    position    : relative;
    overflow    : hidden;
    h2 {
        margin-bottom  : 2.5rem;
    }
    .slick_custom_slide {
        position    : relative;
        overflow    : hidden;
        height      : 11rem;
        
        .gallery_zoom {
            position            : absolute;
            top                 : 0;
            left                : 0;
            width               : 100%;
            height              : 100%;
            font-size           : 2rem;
            background-color    : rgba(255,255,255,0.5);
            display             : none;
            flex-flow           : row nowrap;
            justify-content     : center;
            align-items         : center;
            pointer-events      : none;
        }
        & img:hover ~ .gallery_zoom {
            display             : flex;
        }
        
        img {
            height          : 100%;
            cursor          : pointer;
            transition      : all 0.3s;
            &:hover {
                margin-top  : -0.5rem;
                height      : 110%;
            }
        }
    }
}


#gallery_fp_overlay {
    position            : fixed;
    top                 : 0;
    left                : 0;
    width               : 100%;
    height              : 100%;
    background-color    : rgba(0,0,0,0.9);
    z-index             : 9999;
    display             : flex;
    flex-flow           : column nowrap;
    justify-content     : flex-start;
    
    #gallery_fp_close {
        flex        : 0 0 auto;
        align-self  : flex-end;
        padding     : 1rem 2.5rem;
        cursor      : pointer;
        font-size   : 2.5rem;
        color       : $color_gold;
        &:hover {
            color   : $color_darkgold;
        }
        &:active {
            color   : $color_gold;
        }
    }
    
    #gallery_fp_wrapper {
        flex            : 1 0 auto;
        position        : relative;
        overflow        : hidden;
        width           : 100%;
        margin-bottom   : 2.5rem;
        
        #gallery_fp_slick {
            height      : 100%;
            .slick-slide {
                display         : flex;
                justify-content : center;
                align-items     : center;
                height          : 100%;
            }
            img {
                max-width   : 100%;
                max-height  : 100%;
                width       : auto;
                height      : auto;
            }
        }
        
        .slick_custom_prev,
        .slick_custom_next {
            top : 45%;
        }
    }
}