/*
    AZIENDA
*/
#azienda {
    #top {
        padding         : 0;
        position        : relative;
        overflow        : hidden;
        margin-bottom   : 0;
        #top_slick {
            img {
                height      : 25vw;
                max-height  : 30rem;
                min-height  : 18rem;
            }
        }
    }
    
    #chisiamo {
        padding-top     : 0;
        padding-bottom  : 1rem;
    }
    
    #partners {
        position    : relative;
        overflow    : hidden;
        padding-top : 2rem;
        #partners_slick {
            margin-top  : 2.5rem;
            img {
                height      : 8rem; 
            }
        }
    }
}



/*
    GALLERIA
*/
#galleria {
    .gallery {
        position    : relative;
        overflow    : hidden;
        h2 {
            margin-bottom  : 2.5rem;
        }
        .slick_custom_slide {
            position    : relative;
            overflow    : hidden;
            height      : 11rem;
            
            .gallery_zoom {
                position            : absolute;
                top                 : 0;
                left                : 0;
                width               : 100%;
                height              : 100%;
                font-size           : 2rem;
                background-color    : rgba(255,255,255,0.5);
                display             : none;
                flex-flow           : row nowrap;
                justify-content     : center;
                align-items         : center;
                pointer-events      : none;
            }
            & img:hover ~ .gallery_zoom {
                display             : flex;
            }
            
            img {
                height          : 100%;
                cursor          : pointer;
                transition      : all 0.3s;
                &:hover {
                    margin-top  : -0.5rem;
                    height      : 110%;
                }
            }
        }
    }
}

#gallery_fp_overlay {
    position            : fixed;
    top                 : 0;
    left                : 0;
    width               : 100%;
    height              : 100%;
    background-color    : rgba(0,0,0,0.9);
    z-index             : 9999;
    display             : flex;
    flex-flow           : column nowrap;
    justify-content     : flex-start;
    
    #gallery_fp_close {
        flex        : 0 0 auto;
        align-self  : flex-end;
        padding     : 1rem 2.5rem;
        cursor      : pointer;
        font-size   : 2.5rem;
        color       : $color_gold;
        &:hover {
            color   : $color_darkgold;
        }
        &:active {
            color   : $color_gold;
        }
    }
    
    #gallery_fp_wrapper {
        flex            : 1 0 auto;
        position        : relative;
        overflow        : hidden;
        width           : 100%;
        margin-bottom   : 2.5rem;
        
        #gallery_fp_slick {
            height      : 100%;
            .slick-slide {
                display         : flex;
                justify-content : center;
                align-items     : center;
                height          : 100%;
            }
            img {
                max-width   : 100%;
                max-height  : 100%;
                width       : auto;
                height      : auto;
            }
        }
        
        .slick_custom_prev,
        .slick_custom_next {
            top : 45%;
        }
    }
}



/*
    MARCHI
*/
#marchi {
    .marchi_slick_wrapper {
        position        : relative;
        overflow        : hidden;
        padding-top     : 2rem !important;
        padding-bottom  : 3rem !important;
        @media ($query_mobile_width_2) {
            padding-top     : 1.5rem !important;
            padding-bottom  : 2rem !important;
        }
        img {
            height  : 7rem; 
        }
        .slick_custom_prev,
        .slick_custom_next {
            top     : 20%;
        }
    }
}



/*
    CONTATTI
*/
$contatti_custom_width          : $mobile_width_1 * 1.8;
$contatti_query_custom_width    : "max-width : #{$contatti_custom_width}";

#contatti_info {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : center;
    align-items     : center;
    max-width       : 90rem;
    margin          : 1rem auto;
    letter-spacing  : -0.04rem;
    @media ($contatti_query_custom_width) {
        padding-top : 0;
    }
    @media ($query_mobile_width_1) {
        flex-flow   : column nowrap;
    }
    & > div {
        flex                : 1 1 auto;
        display             : flex;
        flex-flow           : row nowrap;
        justify-content     : flex-start;
        align-items         : center;
        margin-bottom       : 0.5rem;
        &:last-child {
            flex            : 1 0 auto;
            @media ($contatti_query_custom_width) {
                flex-flow   : column nowrap;
            }
            div {
                flex        : 1 0 auto;
                text-align  : left;
                i {
                    font-size   : 1.3rem;
                    width       : 1.5rem;
                }
                span {
                    display         : inline-block;
                    padding-right   : 0.25rem;
                    @media ($contatti_query_custom_width) {
                        width       : 3rem;
                    }
                }
            }
        }
    }
    i {
        font-size   : 1.1rem;
        width       : 2rem;
        text-align  : center;
    }
}


#contatti_map {
    padding-bottom  : 1rem;
    iframe {
        width       : 100%;
        height      : 30vw;
        min-height  : 20rem;
        border      : none;
    }
}


#contatti_form {
    position    : relative;
    #contatti_form_verify {
        position    : absolute;
        top         : -100000px;
        left        : -100000px;
    }
    #contatti_form_wrapper {
        display         : flex;
        flex-flow       : row nowrap;
        justify-content : center;
        align-items     : stretch;
        margin-top      : 2rem;
        margin-bottom   : 1.5rem;
        @media ($query_mobile_width_1) {
            flex-flow   : column nowrap;
        }
        
        #contatti_form_wrapper_left,
        #contatti_form_wrapper_right {
            width       : 45%;
            max-width   : 35rem;
            margin      : 0 1rem;
            @media ($query_mobile_width_1) {
                width       : 100%;
                max-width   : auto;
                margin      : 0;
            }
        }
        #contatti_form_wrapper_left {
            .fieldset {
                margin-bottom       : 1rem;
                &:last-child {
                    margin-bottom   : 0;
                }
            }
        }
        #contatti_form_wrapper_right {
            .fieldset {
                height  : 100%;
            }
            @media ($query_mobile_width_1) {
                margin-top  : 1rem;
                height      : 9rem;
            }
        }
        
        .fieldset {
            position        : relative;
            display         : block;
            width           : 100%;
            padding         : 0.7rem 0.5rem 0.2rem 0.5rem;
            border          : 1px solid $color_gold;
            border-radius   : 2px;
            
            .legend {
                position            : absolute;
                top                 : -0.9rem;
                left                : 0.5rem;
                background-color    : $color_white;
                color               : $color_gold;
                padding             : 0 0.3rem;
                text-align          : left;
            }
            
            input, textarea {
                display     : block;
                width       : 100%;
                border      : none;
                font-family : inherit;
                font-size   : 0.9rem;
                color       : $color_text;
            }
            textarea {
                resize      : none;
                height      : 100%;
                overflow-y  : auto;
            }
            
            &:hover, &:focus {
                border-color    : $color_darkgold;
                .legend {
                    color   : $color_darkgold;
                }
            }
            &.error {
                border-color    : $color_red;
                .legend {
                    color   : $color_red;
                }
            }
        }
    }
    #contatti_form_error,
    #contatti_form_success {
        display         : none;
        font-size       : 0.9rem;
        font-weight     : 600;
        margin-bottom   : 1rem;
    }
    #contatti_form_error {
        color           : $color_red;
    }
    #contatti_form_send {
        width   : 8rem;
    }
}