#azienda_top {
    padding         : 0;
    position        : relative;
    overflow        : hidden;
    margin-bottom   : 0;
    #azienda_top_slick {
        img {
            height      : 25vw;
            max-height  : 30rem;
            min-height  : 18rem;
        }
    }
}


#azienda_chisiamo {
    padding-top     : 0;
    padding-bottom  : 1rem;
}


#azienda_partners {
    position    : relative;
    overflow    : hidden;
    padding-top : 2rem;
    #azienda_partners_slick {
        margin-top  : 2.5rem;
        img {
            height      : 8rem; 
        }
    }
}