// Fonts
$font_stack  : "Open Sans", helvetica, arial, sans-serif;

// Colors
$color_blue         : #001b26;
$color_gold         : #cbbd5c;
$color_darkgold     : #bbaa66; 
$color_brown        : #af7f5a;
$color_white        : #ffffff;
$color_grey         : #303030;
$color_lightgrey    : #f5f5f5;
$color_text         : #303030;
$color_link         : #a59535;
$color_red          : #ba1a1a;

// Transitions
$transition_time   : 0.3s;

// Mobile Sizes
$mobile_width_1     : 650px;
$mobile_width_2     : 480px;
// Media Queries
$query_mobile_width_1   : "max-width : #{$mobile_width_1}";
$query_mobile_width_2   : "max-width : #{$mobile_width_2}";
